<ion-view title="Duração do Contrato">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-radio ng-model="fields.value5" ng-value="350">Semestral</ion-radio>
            <ion-radio ng-model="fields.value5" ng-value="500">Anual</ion-radio>
            <ion-radio ng-model="fields.value5" ng-value="850">Bianual</ion-radio>
        </form>
        <a menu-close="" href="#/page6" class="button button-stable button-block ">Continuar</a>
    </ion-content>
</ion-view>