<ion-view title="Nerds Deslocados">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-radio ng-model="fields.value4" ng-value="700">Apenas 1</ion-radio>
            <ion-radio ng-model="fields.value4" ng-value="800">2 Nerds</ion-radio>
            <ion-radio ng-model="fields.value4" ng-value="900">3 Nerds</ion-radio>
        </form>
        <a menu-close="" href="#/page5" class="button button-stable button-block ">Continuar</a>
    </ion-content>
</ion-view>