<ion-view title="Quantidade de Impressoras">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-radio ng-model="fields.value2" ng-value="600">até 10</ion-radio>
            <ion-radio ng-model="fields.value2" ng-value="650">até 30</ion-radio>
            <ion-radio ng-model="fields.value2" ng-value="700">50 ou mais</ion-radio>
        </form>
        <a menu-close="" href="#/page3" class="button button-stable button-block ">Continuar</a>
    </ion-content>
</ion-view>