<ion-view title="Quantidade de dias">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-radio ng-model="fields.value3" ng-value="300">1 dia por semana</ion-radio>
            <ion-radio ng-model="fields.value3" ng-value="400">2 dias por semana</ion-radio>
            <ion-radio ng-model="fields.value3" ng-value="500">3 dias por semana</ion-radio>
            <ion-radio ng-model="fields.value3" ng-value="600">4 dias por semana</ion-radio>
            <ion-radio ng-model="fields.value3" ng-value="700">5 dias por semana</ion-radio>
            <ion-radio ng-model="fields.value3" ng-value="800">Alta disponibilidade</ion-radio>
        </form>
        <a menu-close="" href="#/page4" class="button button-stable button-block ">Continuar</a>
    </ion-content>
</ion-view>