<ion-view title="Quantidade de dias">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-radio ng-model="value1" ng-value="1000">1 dia por semana</ion-radio>
            <ion-radio ng-model="value1" ng-value="1000">2 dias por semana</ion-radio>
            <ion-radio ng-model="value1" ng-value="1000">3 dias por semana</ion-radio>
            <ion-radio ng-model="value1" ng-value="1000">4 dias por semana</ion-radio>
            <ion-radio ng-model="value1" ng-value="1000">5 dias por semana</ion-radio>
            <ion-radio ng-model="value1" ng-value="1000">Alta disponibilidade</ion-radio>
        </form>
        <a menu-close="" href="#/page4" class="button button-stable button-block ">Continuar</a>
    </ion-content>
</ion-view>