<ion-view title="Quantidade de Computadores">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-radio ng-model="value1" ng-value="1000">Até 10</ion-radio>
            <ion-radio ng-model="value1" ng-value="1000">Até 30</ion-radio>
            <ion-radio ng-model="value1" ng-value="1000">Até 50</ion-radio>
            <ion-radio ng-model="value1" ng-value="1000">Até 100</ion-radio>
            <ion-radio ng-model="value1" ng-value="1000">Até 300</ion-radio>
            <ion-radio ng-model="value1" ng-value="1000">Franquias</ion-radio>
        </form>
        <a menu-close="" href="#/page2" class="button button-stable button-block ">Continuar</a>
    </ion-content>
</ion-view>