<ion-view title="Quantidade de Computadores">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <ion-radio ng-model="fields.value1" ng-value="500">Até 10</ion-radio>
            <ion-radio ng-model="fields.value1" ng-value="750">Até 30</ion-radio>
            <ion-radio ng-model="fields.value1" ng-value="800">Até 50</ion-radio>
            <ion-radio ng-model="fields.value1" ng-value="850">Até 100</ion-radio>
            <ion-radio ng-model="fields.value1" ng-value="900">Até 300</ion-radio>
            <ion-radio ng-model="fields.value1" ng-value="1000">Franquias</ion-radio>
        </form>
        <a menu-close="" href="#/page2" class="button button-stable button-block ">Continuar</a>
    </ion-content>
</ion-view>